@charset "ISO-8859-1";
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("/images/music6.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.nav{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    height: 80px;
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    margin-left: 50px;
    text-decoration: none;
    padding: 10px;
    background-color: transparent;
    color: #999999;
    border-radius: 20px;
    border: 2px solid #0aa5ff;
    transition: 0.2s;
    
}

.start:hover{
    background-color: #0aa5ff;
    color: white;
}
.songs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top,rgba(34, 33, 36, 0),rgb(190, 114, 114));
    width: 50%;
    max-height: fit-content;
    border-radius: 30px;
    position: absolute;
    left: 25%;
    right: 25%;
    top:100px;
}
thead{
    color: darkslategray;  
}
th{
    letter-spacing: 1px;
}
th,td{
    padding: 10px;
    color:white;
    font-weight:bold;
}
tbody td{
    text-align: center;
}
audio::-webkit-media-controls-play-button{
    color: black;
}