body{
    padding: 0;
    margin: 0;
    background-image: url("/images/img2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.playlist-container{
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: linear-gradient(45deg,rgba(40, 40, 41, 0),rgb(236, 230, 234));
    width: 50%;
    max-height: fit-content;
    border-radius: 30px;
    position: absolute;
    left: 25%;
    right: 25%;
    top:50px;
}

.playlist-container ul{
    list-style: none;
}

thead{
    color: darkslategray; 
    height: 80px;
}
th{
    letter-spacing: 1px;
    padding: 20px;
}
th,td{
    padding: 10px;
}
tbody td{
    text-align: center;

}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
