@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/images/musics.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom:20px;

}

.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    background-image:  linear-gradient(to top, rgba(247, 241, 241, 0), rgb(126, 218, 221));
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-field {
    position: relative;
    width: 310px;
    display: flex;
    margin: 20px 0;
    margin-bottom: 20px;
}

.input-field i{
    color:#333;
    height: 30px;
    width: 30px;
    padding-top: 10px;
    border: 1px solid #cccccc;
    border-right: none;
    text-align: center;
}
.input-field input:hover{
    background: #fafafa;
}
.input-field input[type=text] {
    width: 100%;
    padding: 8px 10px;
    height: 30px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
}
.input-field input[type=text]:focus{
    box-shadow: 0 0 4px 1px rgba(255,169,0,0.5);
    border: 1px solid #f5baf5;
    background: #fafafa;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 190, 72);
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight:bold;
    color: black;   
}
button:hover{
    background-color:rgb(48, 214, 48);
    color:white;
}