@charset "ISO-8859-1";

body{
    background-image: url("/images/payment1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

#title{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container p{
    font-size: 20px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(3, 14, 14);
    line-height: 30px;
}

.buy-button{
    display: grid;
    margin: auto;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid rgb(25, 221, 25);
    color: black;
}

.buy-button:hover{
    background-color: rgb(25, 221, 25);
    color: white;
}