<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
<body>
<form action="logout" method="get">
    <nav class="navbar">
        <div class="menu">
            <a href="newSong">Add new song<span></span></a>
            <a href="viewSongs">All songs<span></span></a>
        </div>
        <button type="submit" class="start">Logout</button>
    </nav>
  </form>
  <div class="img">
  
  </div>
   
</body>
</html>