<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Playlists</title>
<link rel="stylesheet" th:href="@{/css/createPlaylists.css}">
</head>
<body>
 <div class="container">
    <form action="addPlaylist" method="post">
        <div class="head">
        <label>PlayList name:</label>
        <input type="text" name="name" />
        <br>
        </div>
        <div th:each="song:${songs}">
        <input type="checkbox" th:name="songs" th:value="${song.id}" />
        <label th:text="${song.name}"></label>
        </div>
        
        <input type="submit" value="ADD PLAYLIST" class="btn"/>
       </form>
    </div>
</body>
</html>