<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>My Playlists</title>
<link rel="stylesheet" th:href="@{/css/displayPlaylists.css}">
<style type="text/css">
iframe{
height:100px;
width:400px;
}
</style>
</head>
<body>
    <div class="playlist-container">
<table>
<thead>
<tr>
<th>Name</th>
<th>Songs</th>
</tr>
</thead>

<tbody>
<tr th:each="plist:${allPlaylists}">
<td th:text="${plist.name}"></td>
<td>
<ul>
<li th:each="song:${plist.songs}" >
<span th:text="${song.name}"></span>
<audio controls>
<source th:src="${song.link}" type="audio/mpeg" >
</audio>
</ul>
</td>
</tr>
</tbody>
</table>
</div>

</body>
</html>