<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Home</title>
</head>
<body>
    <div class="wrapper">
    <nav class="navbar">
        <div class="logo">
            <div>
            <img src="/images/songs.jpg" alt="image not found" class="image">
            <label class="title">TUNEHUB</label>
            </div>
        </div>
        <div class="menu">
            <a href="#">Home<span></span></a>
            <a href="#">About<span></span></a>
            <a href="#">Contact<span></span></a>
        </div>
        <a href="login" class="start">Get Started</a>
    </nav>
    <section class="images"></section>
    <section class="text">
        <h2>About</h2>
        <p>TuneHub stands as a beacon of innovation in the realm of music streaming platforms, offering a 
        comprehensive and immersive experience for music enthusiasts worldwide. With its user-friendly interface 
        and extensive library of tracks spanning various genres and eras, TuneHub caters to diverse tastes, ensuring 
        there's something for everyone. The platform's sophisticated recommendation algorithm provides personalized 
        suggestions, guiding users to discover new artists and tracks aligned with their preferences. Additionally, 
        TuneHub's premium subscription unlocks a plethora of exclusive features, including ad-free listening, high-quality 
        audio streaming, offline playback, and access to exclusive content such as live performances and unreleased tracks. 
        Furthermore, TuneHub serves as a dynamic platform for both established and emerging artists to showcase their talents,
        fostering a vibrant community where music lovers can connect, collaborate, and share their passion for music. With its
        commitment to delivering an unparalleled music listening experience, TuneHub continues to redefine the way people 
        engage with and enjoy their favorite tunes, making it a must-have destination for music aficionados everywhere.</p>
    </section>
    <section class="images"></section>
    <section class="text">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
                      <h4>Address</h4>
                      <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> Rajaji Nagar-
                           Bangalore 629838</li>
                           <li><a href=""><i class="fa-solid fa-phone"></i></i> +91 9876543210</a></li>
                           <li><a href=""><i class="fa-solid fa-envelope"></i> mail@12345678.com</a></li>
                      </div>
                    </div>           
  	 		<div class="footer-col">
  	 			<h4>Get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
            </div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
    </section>
</div>
</body>
</html>